.area {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0 20px 0 0;
}

.w-full {
  width: 100%;
}

.third {
  min-width: 48vw;
  height: 100%;
  background-color: #828282;
}

.direct-message {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #828282;
  height: 100%;
  min-height: 0;
  min-width: 40vw;
}

.message-box {
  background-color: white;
  padding: 4px 10px;
}
