.message {
    max-width: 60%;
    padding: 10px;
    margin-right: 10px;
    line-height:30px;
    border-radius: 20px 10px 10px 0;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .sender {
    background-color: #5f72f5;
    align-self: flex-end;
    text-align: right;
    }
  
  .receiver {
    background-color: #828282;
    align-self: flex-start;
    text-align: left;
    }
  
    .edit{
      display: none;
    }